.addCart {
  width: 100%;
  height: 10vh;
}
.plus_minus {
  background-color: var(--LightGrayish);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 15px;
}
.plus_minus > img:nth-of-type(1) {
  width: 15px;
  height: 5px;
  cursor: pointer;
}
.plus_minus > img:nth-of-type(2) {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.button {
  width: 100%;
  background-color: var(--Orange);
  padding: 10px;
  border-radius: 15px;
  border: transparent;
}
.button > img {
  width: 15px;
  margin-right: 10px;
  filter: brightness(0) invert(1);
}
.button > span {
  color: var(--White);
}
